body{
   
}
main{
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    place-content: center;
    flex-direction: column;
}
#box{
    width: 500px;
    height: 500px;
    background-color: gold;
    font-size: 3rem;
       display: flex;
       color: white;
    align-items: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    
}
button{
    background-color: pink;
    color: black;
    border: none;
    padding: 1rem;
    margin: 1rem;
}